/* Your Website Styles */
body {
	background: url(../img/bg.png);
}

p{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: center;
}

ul{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

h1{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 55px;
	text-align: center;
}

h2{
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

h3{
	color: white;
	font-family: 'Raleway', sans-serif;
}

hr {
	background: #00EBE7;
	height: 2px;
	border: none;
}


div {
	margin-top: -60px;	x 
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}