/* Your Website Styles */
body {
	background: url(../img/bg.png);
}

p{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

h1{
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 55px;
}

h2{
	color: white;
	font-family: 'Raleway', sans-serif;
}


div {
	margin-top: -60px;	x 
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}